@font-face {
    font-family: "Comfortaa-Light";
    src: url('../font/clock/Comfortaa/Comfortaa-Light.woff2') format('woff2'),
        url('../font/clock/Comfortaa/Comfortaa-Light.woff') format('woff'),
        url('../font/clock/Comfortaa/Comfortaa-Light.ttf') format('truetype');
}

@font-face {
    font-family: "Comfortaa-Bold";
    src: url('../font/clock/Comfortaa/Comfortaa-Bold.woff2') format('woff2'),
        url('../font/clock/Comfortaa/Comfortaa-Bold.woff') format('woff'),
        url('../font/clock/Comfortaa/Comfortaa-Bold.ttf') format('truetype');
}

@font-face {
    font-family: "Comfortaa-Regular";
    src: url('../font/clock/Comfortaa/Comfortaa-Regular.woff2') format('woff2'),
        url('../font/clock/Comfortaa/Comfortaa-Regular.woff') format('woff'),
        url('../font/clock/Comfortaa/Comfortaa-Regular.ttf') format('truetype');
}

@font-face {
    font-family: "Gilbert-Bold";
    src: url('../font/clock/Gilbert/Gilbert-Bold.woff2') format('woff2'),
        url('../font/clock/Gilbert/Gilbert-Bold.woff') format('woff'),
        url('../font/clock/Gilbert/Gilbert-Bold.ttf') format('truetype');
}

@font-face {
    font-family: "Hamurz";
    src: url('../font/clock/Hamurz/Hamurz.woff2') format('woff2'),
        url('../font/clock/Hamurz/Hamurz.woff') format('woff'),
        url('../font/clock/Hamurz/Hamurz.ttf') format('truetype');
}

.clock_num {
    font-family: MiSans !important;
}