@font-face {
  font-family: "MiSans";
  src: url('../font/MiSans-Regular.subset.woff2') format('woff');
}

@font-face {
  font-family: "iconfont";
  /* Project id 1723745824137 */
  src: url('../font/iconfont.woff') format('woff'),
    url('../font/iconfont.ttf') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-a-360sousuo:before {
  content: "\e601";
}

.icon-unfold:before {
  content: "\e602";
}

.icon-github:before {
  content: "\e603";
}

.icon-bing:before {
  content: "\e604";
}

.icon-sousuo:before {
  content: "\e605";
}

.icon-tianjia-:before {
  content: "\e606";
}

.icon-zhihu:before {
  content: "\e607";
}

.icon-jingdong:before {
  content: "\e608";
}

.icon-wangluo:before {
  content: "\e609";
}

.icon-xiugai:before {
  content: "\e60a";
}

.icon-xinlangweibo:before {
  content: "\e60b";
}

.icon-fold:before {
  content: "\e60c";
}

.icon-taobao:before {
  content: "\e60d";
}

.icon-google:before {
  content: "\e60e";
}

.icon-baidu:before {
  content: "\e60f";
}

.icon-shezhi:before {
  content: "\e610";
}

.icon-delete:before {
  content: "\e611";
}

.icon-sougousousuo:before {
  content: "\e612";
}

.icon-bilibilidonghua:before {
  content: "\e613";
}

.icon-home:before {
  content: "\e614";
}

.icon-act:before {
  content: "\e615";
}

.icon-tab-:before {
  content: "\e616";
}

.icon-unfolding:before {
  content: "\e617";
}

.icon-folding:before {
  content: "\e618";
}

.icon-line:before {
  content: "\e619";
}

