@font-face {
  font-family: "iconfont";
  /* Project id 4818924 */
  src: url('../font/iconfont.woff2') format('woff2'),
    url('../font/iconfont.woff') format('woff'),
    url('../font/iconfont.ttf') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-nine-grids:before {
  content: "\e605";
}

.icon-store:before {
  content: "\e002";
}

.icon-mouse-left:before {
  content: "\e601";
}

.icon-mouse-center:before {
  content: "\e602";
}

.icon-mouse-right:before {
  content: "\e603";
}

.icon-settings:before {
  content: "\e000";
}

.icon-keyboardTemplate:before {
  content: "\e600";
}

.icon-refresh:before {
  content: "\e800";
}

.icon-connect:before {
  content: "\e801";
}

.icon-disConnect:before {
  content: "\e802";
}

.icon-a-360sousuo:before {
  content: "\e101";
}

.icon-unfold:before {
  content: "\e003";
}

.icon-github:before {
  content: "\e102";
}

.icon-bing:before {
  content: "\e103";
}

.icon-sousuo:before {
  content: "\e100";
}

.icon-add:before {
  content: "\e803";
}

.icon-zhihu:before {
  content: "\e104";
}

.icon-jingdong:before {
  content: "\e105";
}

.icon-internet:before {
  content: "\e199";
}

.icon-edit:before {
  content: "\e804";
}

.icon-xinlangweibo:before {
  content: "\e106";
}

.icon-fold:before {
  content: "\e004";
}

.icon-taobao:before {
  content: "\e107";
}

.icon-google:before {
  content: "\e108";
}

.icon-baidu:before {
  content: "\e109";
}

.icon-shezhi:before {
  content: "\e001";
}

.icon-delete:before {
  content: "\e805";
}

.icon-sougousousuo:before {
  content: "\e110";
}

.icon-bilibilidonghua:before {
  content: "\e111";
}

.icon-home:before {
  content: "\e005";
}

.icon-warn:before {
  content: "\e806";
}

.icon-remove:before {
  content: "\e807";
}

.icon-wait:before {
  content: "\e808";
}

.icon-left:before {
  content: "\e809";
}

.icon-right:before {
  content: "\e810";
}

.icon-round-right:before {
  content: "\e811";
}

.icon-round-left:before {
  content: "\e812";
}

.icon-show:before {
  content: "\e813";
}

.icon-hide:before {
  content: "\e814";
}

.icon-open:before {
  content: "\e815";
}

.icon-no:before {
  content: "\e816";
}

.icon-close:before {
  content: "\e817";
}

.icon-move:before {
  content: "\e818";
}

.icon-or:before {
  content: "\e819";
}

.icon-yandex:before {
  content: "\e112";
}

.icon-duckduckgo:before {
  content: "\e113";
}

.icon-nail:before {
  content: "\e820";
}

.icon-unnail:before {
  content: "\e821";
}

.icon-line:before {
  content: "\e822";
}

.icon-tab:before {
  content: "\e823";
}

.icon-unfolding:before {
  content: "\e824";
}

.icon-act:before {
  content: "\e825";
}

.icon-folding:before {
  content: "\e826";
}

.icon-time-24:before {
  content: "\e604";
}

.icon-check-on:before {
  content: "\e827";
}

.icon-copy:before {
  content: "\e828";
}

.icon-wrong:before {
  content: "\e829";
}

.icon-right1:before {
  content: "\e830";
}

.icon-infinity:before {
  content: "\e831";
}

.icon-check-off:before {
  content: "\e832";
}

.icon-NitaiPage_poster:before {
  content: "\ea00";
}

.icon-NitaiPage_icon:before {
  content: "\ea01";
}

.icon-NitaiPage:before {
  content: "\ea02";
}