@charset "utf-8";

/*小于1200px时*/
@media (max-width: 1200px) {

    /*书签及设置高度*/
    .mark,
    .set,
    .store,
    .plugin_set {
        margin-top: 180px;
    }
}

/*小于720px时*/
@media (max-width: 720px) {

    /*书签*/
    .quick,
    .quicks {
        width: 23%;
        min-width: 23%;
        max-width: 23%;
    }

    .plugin-detail-header {
        flex-direction: column;
    }

    .screenshots a {
        width: 100% !important;
    }

    .drag-handle .iconfont {
        display: none;
    }

    .desktop {
        display: block !important;
    }

    .mobile {
        display: none !important;
    }

    #storePage .order-dialog {
        height: 380px !important;
    }

    .order-content .plugin-list {
        height: 310px !important;
    }

}

/* 大于720px时*/
@media (min-width: 720px) {
    .desktop {
        display: none !important;
    }

    .mobile {
        display: block !important;
    }
}

/* 大于512px时*/
@media (min-width: 512px) {

    #entryPluginSettings,
    .reloadPluginSettings-btn {
        width: 14vw;
    }
}

/*小于512px时*/
@media (max-width: 512px) {

    .screenshot-img {
        width: 100%;
    }

    .timeNum {
        min-width: 27.5px;
        max-width: 27.5px;
    }

    .dayNum {
        min-width: 10.5px;
        max-width: 10.5px;
    }

    /*搜索引擎*/
    .se-li {
        width: 31.33%;
        min-width: 31.33%;
        max-width: 31.33%;
    }

    /*设置按钮*/
    .entry-items i {
        font-size: 1.65rem;
    }

    /*书签*/
    .quick,
    .quicks {
        width: 31.33%;
        min-width: 31.33%;
        max-width: 31.33%;
    }

    /*壁纸设置*/
    #wallpaper {
        flex-wrap: wrap;
    }

    #wallpaper_text {
        margin-top: 0px;
    }

    .plugin_list_table .plugin_item .plugin_info {
        align-items: flex-start !important;
        flex-direction: column !important;
    }

    .set_tip_new {
        margin-left: 2.5%;
        margin-right: 2.5%;
    }

    .set_tip_updateLog {
        flex-direction: column
    }

    .set_text_wallpaper {
        font-size: x-small;
    }

    .aboutContainer,
    .quick-all,
    .quick-alls {
        margin: 5px 5px 0px 5px !important;
    }

    .set_blocks_content {
        margin: 5px 5px 5px 5px !important;
    }

    .wallpapers_content {
        margin: 0px 5px 0px 5px !important;
    }

    .panelContent {
        margin: 0px 5px 0px 5px !important;
    }

    .store-block {
        margin: 0px 10px 0px 10px !important;
    }

    .drag-handle {
        margin-bottom: 10px;
    }

    .data_backup_tip {
        width: 100%;
    }

    .entry-pluginSettings {
        flex-direction: column !important;
        align-items: stretch !important;
        justify-content: center !important;
    }

    #entryPluginSettings,
    .reloadPluginSettings-btn {
        margin: 10px 20px 0px 20px;
    }

    .announcement_container {
        min-width: 80%;
        max-width: 80%;
        min-height: 80%;
        max-height: 80%;
    }
}

/*小于450px时*/
@media (max-width: 450px) {
    .slider {
        width: 80px !important;
    }

    .slider-value {
        transform: translateX(-120px);
    }
}

/*小于370px时*/
@media (max-width: 370px) {
    .tip_new_slider {
        flex-direction: column !important;
        align-items: stretch !important;
    }

    .slider {
        width: calc(100% - 25px) !important;
    }

    .slider-value {
        transform: translateX(3px);
    }
}

/*小于260px时*/
@media (max-width: 260px) {

    #fold {
        display: none !important;
    }

    .set,
    .mark,
    .store,
    .plugin_set {
        margin-top: 0px !important;
        max-height: 500px !important;
        height: 500px !important;
        width: 100% !important;
        bottom: 40px !important;
    }

    .set_blocks {
        height: 390px !important;
    }

    .quick-all {
        height: 380px !important;
    }

    .quick_list,
    .se_list {
        height: 335px !important;
    }

    .store-item .content {
        margin: 5px 5px 0px 5px !important;
    }

    .order-dialog {
        margin: 0px 5px 0px 5px !important;
    }

    .order-dialog .dialog-content,
    .order-dialog {
        margin: 5px 0px 5px 0px !important;
        height: 480px !important;
    }

    .plugin-list {
        height: 100% !important;
    }

    .plugin_management .plugin_list_table .plugin_item {
        flex-direction: column
    }

    .plugin-item {
        flex-direction: column;
        align-items: flex-start;
    }
}

/* 大于568px时 */
@media (min-width: 568px) {
    .iziToast {
        border-radius: 30px !important;
    }

    .iziToast-wrapper {
        padding: 10px 0px !important;
    }
}